// site colors
$white: #ffffff;
$darkBlue: #2c3e50;
$mainBoxShadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
  0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);

// pokemon types
$normal: #a8a77a;
$fire: #ee8130;
$water: #6390f0;
$electric: #f7d02c;
$grass: #7ac74c;
$ice: #96d9d6;
$fighting: #c22e28;
$poison: #a33ea1;
$ground: #e2bf65;
$flying: #a98ff3;
$psychic: #f95587;
$bug: #a6b91a;
$rock: #b6a136;
$ghost: #735797;
$dragon: #6f35fc;
$dark: #705746;
$steel: #b7b7ce;
$fairy: #d685ad;

// background colors
:export {
  normal: $normal;
  fire: $fire;
  water: $water;
  electric: $electric;
  grass: $grass;
  ice: $ice;
  fighting: $fighting;
  poison: $poison;
  ground: $ground;
  flying: $flying;
  psychic: $psychic;
  bug: $bug;
  rock: $rock;
  ghost: $ghost;
  dragon: $dragon;
  dark: $dark;
  steel: $steel;
  fairy: $fairy;
}

// pokemon type colors
:export {
  normal_dark: darken($normal, 15%);
  fire_dark: darken($fire, 15%);
  water_dark: darken($water, 15%);
  electric_dark: darken($electric, 15%);
  grass_dark: darken($grass, 15%);
  ice_dark: darken($ice, 15%);
  fighting_dark: darken($fighting, 15%);
  poison_dark: darken($poison, 15%);
  ground_dark: darken($ground, 15%);
  flying_dark: darken($flying, 15%);
  psychic_dark: darken($psychic, 15%);
  bug_dark: darken($bug, 15%);
  rock_dark: darken($rock, 15%);
  ghost_dark: darken($ghost, 15%);
  dragon_dark: darken($dragon, 15%);
  dark_dark: darken($dark, 15%);
  steel_dark: darken($steel, 15%);
  fairy_dark: darken($fairy, 15%);
}

// light colors to contrast dark text
:export {
  normal_light: lighten($normal, 15%);
  fire_light: lighten($fire, 15%);
  water_light: lighten($water, 15%);
  electric_light: lighten($electric, 15%);
  grass_light: lighten($grass, 15%);
  ice_light: lighten($ice, 15%);
  fighting_light: lighten($fighting, 15%);
  poison_light: lighten($poison, 15%);
  ground_light: lighten($ground, 15%);
  flying_light: lighten($flying, 15%);
  psychic_light: lighten($psychic, 15%);
  bug_light: lighten($bug, 15%);
  rock_light: lighten($rock, 15%);
  ghost_light: lighten($ghost, 15%);
  dragon_light: lighten($dragon, 15%);
  dark_light: lighten($dark, 15%);
  steel_light: lighten($steel, 15%);
  fairy_light: lighten($fairy, 15%);
}
