@import 'breakpoints';
@import 'colors.module';

// App container
.app_container {
  padding: 2vw 7.5vw;

  @include md {
    padding: 0.5vw 5vw;
  }
}

// Main container for multiple pages
.main {
  &_header {
    position: relative;
    font-family: 'Righteous', Roboto, sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    margin: 2.5vh auto;
    color: $darkBlue;
    max-width: 550px;

    &_id {
      display: block;
      margin-top: 1vh;
      font-size: 20px;
      opacity: 0.7;

      @include sm {
        position: absolute;
        top: 31.5%;
        right: 0;
        margin: 0;
      }
    }

    &_link,
    &_link_left {
      display: block;
      margin-top: 2vh;
      color: #0984e3;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;

      @include sm {
        position: absolute;
        right: 0;
        top: 2vh;
        margin: 0;
      }

      &:hover {
        text-decoration: underline !important;
      }

      &_left {
        left: 0;
        right: auto;
      }
    }
  }
}

// Pokemon card container
.pokemon_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
