@import 'container';
@import 'breakpoints';

.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_description {
    color: #7f8c8d;
  }

  &_img {
    width: 35vw;
    height: 35vw;
    margin: 2vw 3vw 5vw;

    @include md {
      width: 20vw;
      height: 20vw;
    }

    @include xxl {
      width: 15vw;
      height: 15vw;
    }
  }
}

.bkgd_layer {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
