@import 'breakpoints';
@import 'colors.module';

.pokemon_info {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include lg {
    flex-direction: row;
  }

  &_flex,
  &_block {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: $darkBlue;
    text-transform: capitalize;
    box-shadow: $mainBoxShadow;
    margin: 30px;
    border-radius: 8px;
    padding: 1.5vw 2vw;

    h4 {
      font-size: 20px;
      margin: 0 -2vw 1vw;
      border-bottom: 2px solid $darkBlue;
      padding: 0 2vw 1vw;
    }

    p {
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      font-weight: bold;

      &.inline_block {
        display: inline-block;
        width: 50%;
        padding: 12.5px 0;
      }

      &.evolution_chip {
        position: relative;
        width: 50%;
        padding: 12.5px;
        border-radius: 5px;
        margin: 15px auto;
        color: $white;
        text-align: center;
        cursor: pointer;

        &::after {
          font-family: 'Material Symbols Outlined';
          content: '\e5db';
          position: absolute;
          left: 50%;
          bottom: -25px;
          transform: translateX(-50%);
          font-size: 18px;
          color: $darkBlue;
        }

        &:last-child::after {
          content: '';
        }
      }

      .value,
      .value_flex {
        font-weight: 400;
        padding: 5px 0;
      }

      .value_flex {
        display: flex;

        span {
          flex: 1;
        }
      }
    }
  }

  &_block {
    display: block;
  }
}
