@import 'colors.module';

.pokemon_types {
  display: flex;

  .pokemon_type {
    padding: 6.5px 15px;
    border-radius: 5px;
    box-shadow: $mainBoxShadow;
    color: $white;
    margin: 0 7.5px;
    text-transform: capitalize;
  }
}
